*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

}
 
@font-face {
    font-family: "UnZialish";
    src: url("fuente/montaraz_2/UnZialish.woff2") format("woff2");
 }
html {
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

a,h1,h2,h3 {
    text-transform: uppercase;
    font-family: "UnZialish", serif;
}

.imagen_header img{
    width: 25%;
    align-items: center;
    margin-left: 35%;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.proyect_grid {
    display: grid;
    width: 20%;

}

.imagen_proyectos img{
    width:30%;
    align-items: center;
}

main {
    background-image: url(images/MODO_CLARO.png);
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

 header, footer, nav {
    background-image: url(images/textura_cuero_verde.jpg);
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: none;
}



.logo {
    width:10%;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
}